body {
    display: flex;
    font-family: monospace, Lucida Console, Arial, Helvetica, sans-serif;
}

.container {
    background-color: #89e06a;
    border-style: solid;
    border-color: #042705;
    border-radius: 10px;
    margin-left: 15px;
    border-width: 1px;
}

h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    
    border-style: dashed ;
    border-width: 2px;
    border-radius: 10px;
    border-color: #000;
}

p {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    text-shadow: 2px 2px 5px #ade09a;
    font-size: 16px;
}

/* .manual{
    display: inline-block;
    text-align: right;
    width: 100%;
}

.tituloJogo{
    display: inline-block;
    position: fixed;
    top: 2%;
    left: 68%;
}

.storyTelling{
    display: inline-block;
    position: fixed;
    top: 10%;
    left: 42%;
    text-align: center;
    line-height: 1.6;
}

.tituloInstrucoes{
    display: inline-block;
    position: fixed;
    top: 25%;
    left: 68%;
}

.instrucoes{
    display: inline-block;
    position: fixed;
    top: 33%;
    left: 50%;
    text-align: center;
    line-height: 1.6;

}

@media (max-width: 1280px)
{
    .tituloJogo{
        left: 75%;
    }

    .storyTelling{
        left: 63%;
    }

    .tituloInstrucoes{
        left: 75%;
    }

    .instrucoes{
        left: 63%;
    }
} */